{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'header.html' %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/styleSignin.css' %}">

  <title>SIGN IN</title>
</head>

<body>

  {% include 'navbar.html' %}

  <div class="container">
    <div class="row justify-content-center pt-5 mt-5 m-1">
      <div class="col-md-6 col-lg-4 formulario">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="form-group text-center pt-3">
            <h1 class="text-light">REGISTRARSE</h1>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Nombre de Usuario</label>
            <input type="text" class="form-control text-white" name="username" placeholder="Ingrese su Usuario" required="" />
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Nombre</label>
            <input type="text" class="form-control text-white" name="nombre" placeholder="Ingrese su Nombre" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Apellido</label>
            <input type="text" class="form-control text-white" name="apellido" placeholder="Ingrese su Apellido" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Rut</label>
            <input type="text" class="form-control text-white" name="rut" placeholder="Ingrese su RUT" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Dirección</label>
            <input type="text" class="form-control text-white" name="direccion" placeholder="Ingrese su Dirección" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3 text-white">
            <label>Correo</label>
            <input type="email" class="form-control text-white" name="correo" placeholder="Ingrese su Correo" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3 text-white">
            <label>Contraseña</label>
            <input type="password" class="form-control text-white" name="contrasena" placeholder="Ingrese su Contraseña" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <label>Repetir Contraseña</label>
            <input type="password" class="form-control text-white" name="contrasenaConfirm" placeholder="Ingrese su Contraseña otra vez" required=""/>
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <button type="submit" class="btn btn-danger">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>